/* * {
  margin: 0 !important;
  padding: 0 !important;
} */
@font-face {
  font-family: "Comfortaa";
  font-weight: 400;
  src: local("Comfortaa"), url(./fonts/Comfortaa-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ComicNeue";
  font-weight: 400;
  src: local("ComicNeue"), url(./fonts/ComicNeue-Regular.ttf) format("truetype");
}

body {
  font-family: "ComicNeue", "Noto Sans JP", sans-serif !important;
  color: honeydew !important;
}

h1 {
  font-family: "Comfortaa", cursive !important;
  font-weight: bold !important;
  font-size: 3rem !important;
}

h2 {
  font-family: "Comfortaa", cursive !important;
  font-weight: bold !important;
}

h3 {
  font-family: "Comfortaa", cursive !important;
  font-weight: bold !important;
}

.trails-main {
  position: absolute;
  top: 260px;
  left: 550px;
  width: 30%;
  height: 30%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trails-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 60px;
  line-height: 80px;
  color: palegreen;
  font-size: 4em;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}

.trails-text > div {
  overflow: hidden;
}
